name: golfcast
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.0
  flutter_riverpod: ^2.5.1
  intl: ^0.20.2
  shared_preferences: ^2.2.2
  url_launcher: ^6.2.3
  lucide_icons_flutter: ^1.0.0
  flutter_localizations:
    sdk: flutter
  kakao_flutter_sdk_share: ^1.10.0
  kakao_flutter_sdk_common: ^1.10.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/data/
    - assets/images/premium_ad.png
